{% extends 'base.html.twig' %}

{% block title %}Edit UserActivityLog{% endblock %}

{% block body %}
    <h1>Edit UserActivityLog</h1>

    {{ include('user_activity_log/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_activity_log_index') }}">back to list</a>

    {{ include('user_activity_log/_delete_form.html.twig') }}
{% endblock %}
