{% extends 'base.html.twig' %}

{% block title %}New UserActivityLog{% endblock %}

{% block body %}
    <h1>Create new UserActivityLog</h1>

    {{ include('user_activity_log/_form.html.twig') }}

    <a href="{{ path('user_activity_log_index') }}">back to list</a>
{% endblock %}
