<h3></h3>

<p>Баяр хүргэе!
    Та дараах мэдээллэр ЭМД-ын сонгон шалгаруулалтыг систем нэвтэрч ороорой.
    Хэрэглэгчийн нэр: {{ email }}<br>
    Нууц үг: {{ password }}</p>
<p>
    Мөн хавсралтаар сонгон шалгаруулалтанд ашиглагдах байгууллагын хүний нөөцийн болон тоног төхөөрөмжийн мэдээллийг оруулах excel файлыг илгээлээ.
</p>