
<div class="c-footer_copyrights u-padding-x u-padding-small-y">
    <div class="o-layout -gutter-small">
        <div class="o-layout_item u-1/2@from-small u-3/5to-small">
            <div class="c-footer_copyrights_item">
                &copy; IOI 2023
                -
                Website by
                <a href="https://iotech.mn/" target="_blank" rel="noopener" class="c-link -hover-white">
                    <span>IOTechnology</span>
                </a>
            </div>
        </div>
    </div>
</div>
</footer>
<!-- Messenger Chat Plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat Plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>
</main>
</div>