<footer data-scroll-section class="c-footer" data-scroll data-scroll-call="toggleFooter,Scroll" data-scroll-repeat data-scroll-offset="0">
	<div class="c-footer_cta u-padding u-border-bottom" data-scroll>
		<span class="c-bleam" data-scroll data-scroll-repeat>
			<span class="c-bleam_wrap -bottom"></span>
		</span>
		<div class="o-layout -gutter-small u-padding-small-top@to-medium">
			<div class="c-footer_col o-layout_item u-6/16@from-medium">

				<p class="c-heading -h2 u-anim-scroll -parent -delay-2">
					Бүртгүүлэх
				</p>
				<a href="https://admission.ioi.mn/auth/signup" class="c-button -hover-white -white u-margin-small-y u-anim-scroll -parent -delay-3">
					<span class="c-button_label_wrap">
						<span class="c-button_label">
							БИДНИЙ НЭГ БОЛОХЫГ ХҮСВЭЛ
						</span>
					</span>
					<span class="c-button_icon_wrap">
						<span class="c-button_icon">
							<svg role="img">
								<use xlink:href="assets/images/sprite.svg#arrow-long-right"></use>
							</svg>
						</span>
					</span>
				</a>
			</div>
			<div class="c-footer_col o-layout_item u-6/16@from-medium">
				<div class="c-newsletter" data-scroll>
					<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fio.institute%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1314350108695028" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
				</div>
			</div>
			<div class="c-footer_col o-layout_item u-4/16@from-medium">
				<div class="o-layout -middle">
					<div class="o-layout_item u-2/3">
						<ul class="c-socials">
							<li class="c-socials_item u-anim-scroll -parent -delay-4">
								<a href="https://www.facebook.com/io.institute" target="_blank" rel="noopener">
									<svg role="img">
										<use href="assets/images/sprite.svg#facebook"></use>
									</svg>
								</a>
							</li>
							<li class="c-socials_item u-anim-scroll -parent -delay-5">
								<a href="https://www.instagram.com/" target="_blank" rel="noopener">
									<svg role="img">
										<use href="assets/images/sprite.svg#instagram"></use>
									</svg>
								</a>
							</li>
							<li class="c-socials_item u-anim-scroll -parent -delay-6">
								<a href="https://www.linkedin.com/company/ioinstitute/about" target="_blank" rel="noopener">
									<svg role="img">
										<use href="assets/images/sprite.svg#linkedin"></use>
									</svg>
								</a>
							</li>

						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="c-footer_copyrights u-padding-x u-padding-small-y">
		<div class="o-layout -gutter-small">
			<div class="o-layout_item u-1/2@from-small u-3/5to-small">
				<div class="c-footer_copyrights_item">
					&copy; IOI 2023
					                -
					                Website by
					<a href="https://iotech.mn/" target="_blank" rel="noopener" class="c-link -hover-white">
						<span>IOTechnology</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Messenger Chat Plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat Plugin code -->
<div id="fb-customer-chat" class="fb-customerchat"></div></main></div>
