<div class="c-transition" data-module-transition>
        <span class="c-transition_bleam">
            <span class="c-transition_bleam_wrap" data-transition="bleam"></span>
            <span class="c-transition_bleam_wrap" data-transition="bleam"></span>
            <span class="c-transition_bleam_wrap" data-transition="bleam"></span>
            <span class="c-transition_bleam_wrap" data-transition="bleam"></span>
            <span class="c-transition_bleam_wrap" data-transition="bleam"></span>
        </span>

    <p class="c-transition_label u-text-label" data-module-split data-split-type="chars">
        Уншиж байна...
    </p>
</div>

<div class="c-popup" data-module-popup>
    <div class="c-popup_container o-ratio u-16:9" data-popup="inner"></div>
    <button class="c-popup_close c-button-round" type="button" data-popup="closeButton" aria-label="Close">
            <span class="c-button-round_background">
                <svg role="img"><use xlink:href="assets/images/sprite.svg#shape"></use></svg>
            </span>
        <svg role="img">
            <use xlink:href="assets/images/sprite.svg#close"></use>
        </svg>
    </button>
</div>
<div data-load-container data-page="home" data-theme="blue">

    <aside class="c-sidebar u-none@to-medium || js-sidebar">
        <a href="/" class="c-sidebar_logo u-none@to-medium">
            <svg role="img"><title>Institute</title>
                <use xlink:href="assets/images/sprite.svg#logo-figure"></use>
            </svg>
            <span class="u-screen-reader-text">Institute</span>
        </a>
        <button class="c-sidebar_button u-none@to-medium" arial-label="Menu" type="button" data-module-nav-button>
            <span class="u-screen-reader-text">ЦЭС</span>
            <span></span>
        </button>
        <p class="c-sidebar_tagline">
            Боломжоо <br>Ашигла
        </p>
    </aside>

    <nav class="c-nav" data-module-nav>
        <div class="c-nav_layout o-layout">
            <div class="c-nav_layout_item -main o-layout_item u-1/2@from-medium">
                <span class="c-nav_bleam c-bleam u-none@to-medium">
                    <span class="c-bleam_wrap -right"></span>
                </span>
                <div class="c-nav_layout_item_inner">

                    <div class="c-nav_accordion c-accordion -nav u-margin-small-x" data-module-accordion>
                        <div class="c-accordion_item">
                            <a href="{{ path('about_us_index') }}" class="c-accordion_item_toggler">
                                <span class="c-accordion_item_toggler_label">Хамт олон</span>
                            </a>
                        </div>

                        <div class="c-accordion_item">
                            <a href="{{ path('announcement_index') }}" class="c-accordion_item_toggler">
                                <span class="c-accordion_item_toggler_label">Мэдээ мэдээлэл</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="c-nav_layout_item o-layout_item u-1/2@from-medium" data-module-nav-cases>
                <div class="c-nav_layout_item_inner">
                    <div class="o-layout">
                        <div class="o-layout_item u-2/3@from-medium">
                            <p class="c-nav_cases_label">

                            </p>
                            <div class="c-nav_cases">
                                <div class="c-nav_cases_container swiper-container" data-nav-cases="slider">
                                    <div class="swiper-wrapper">
                                        <div class="c-nav_cases_item swiper-slide" data-nav-cases="item">
                                            <a href="#home-content" class="c-nav_cases_item_inner">
                                                <div class="c-nav_cases_item_image">
                                                    <img class="swiper-lazy"
                                                         src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1810 1020'%3E%3C/svg%3E"
                                                         data-src="uploads/openings/IOXUFE.jpg" alt=""
                                                         width="570" height="300">
                                                </div>
                                                <div class="o-layout">
                                                    <div class="o-layout_item u-2/3">
                                                        <p class="c-nav_cases_item_title c-heading -h4">1+3 СЭЗИС-д үргэлжлүүлэн суралцах </p>
                                                    </div>
                                                    <div class="o-layout_item u-1/3 u-text-right">
                                                        <p class="c-nav_cases_item_title -number c-heading -h3">01</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="c-nav_cases_item swiper-slide" data-nav-cases="item">
                                            <a href="#" class="c-nav_cases_item_inner">
                                                <div class="c-nav_cases_item_image">
                                                    <img class="swiper-lazy"
                                                         src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 570 300'%3E%3C/svg%3E"
                                                         data-src="uploads/openings/IOXAustralia.jpg" alt=""
                                                         width="570" height="300">
                                                </div>
                                                <div class="o-layout">
                                                    <div class="o-layout_item u-2/3">
                                                        <p class="c-nav_cases_item_title c-heading -h4">1+2 Австрали улсад үргэлжлүүлэн суралцах</p>
                                                    </div>
                                                    <div class="o-layout_item u-1/3 u-text-right">
                                                        <p class="c-nav_cases_item_title -number c-heading -h3">02</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="c-nav_cases_item swiper-slide" data-nav-cases="item">
                                            <a href="#" class="c-nav_cases_item_inner">
                                                <div class="c-nav_cases_item_image">
                                                    <img class="swiper-lazy"
                                                         src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 570 300'%3E%3C/svg%3E"
                                                         data-src="uploads/openings/IOXIOTECH.jpg" alt=""
                                                         width="570" height="300">
                                                </div>
                                                <div class="o-layout">
                                                    <div class="o-layout_item u-2/3">
                                                        <p class="c-nav_cases_item_title c-heading -h4">1+2 IOTECH компанид үргэлжлүүлэн ажиллах</p>
                                                    </div>
                                                    <div class="o-layout_item u-1/3 u-text-right">
                                                        <p class="c-nav_cases_item_title -number c-heading -h3">03</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="o-layout_item u-1/3@from-medium u-none@to-medium">
                            <a href="https://admission.ioi.mn/auth/signup" class="c-nav_talk">
                                <div class="c-nav_talk_inner">
                                    <div class="c-nav_talk_button c-talk-button -nav" data-module-talk-button>
                                        <span class="c-talk-button_background">
                                            <svg role="img"><use
                                                        xlink:href="assets/images/sprite.svg#shape"></use></svg>
                                        </span>
                                        <span class="c-talk-button_slider swiper-container" data-talk-button="slider">
                                            <span class="swiper-wrapper">
                                                <div class="c-talk-button_slider_item swiper-slide">
                                                    <svg role="img"><use
                                                                xlink:href="assets/images/sprite.svg#talk"></use></svg>
                                                </div>
                                                <div class="c-talk-button_slider_item swiper-slide">
                                                    <svg role="img"><use
                                                                xlink:href="assets/images/sprite.svg#talk"></use></svg>
                                                </div>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="c-nav_talk_label">
                                        Бүртгүүлэх
                                    </div>
                                </div>
                            </a>
                            <div class="c-nav_controls">
                                <div class="c-nav_controls_inner">
                                    <button class="c-nav_controls_button is-invisible" data-nav-cases="prev">
                                        <span class="c-nav_controls_button_inner">
                                            <svg role="img" stroke="#232020"><use href="assets/images/sprite.svg#arrow-up"></use></svg>
                                        </span>
                                    </button>
                                    <button class="c-nav_controls_button is-invisible" data-nav-cases="next">
                                        <span class="c-nav_controls_button_inner">
                                            <svg role="img" stroke="#232020"><use href="assets/images/sprite.svg#arrow-down"></use></svg>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>